<% layout("/layouts/boilerplate") %>


    <a href="/prospectos" class="btn btn-light mt-3 position-absolute">Atras</a>   
    <h1 class="display-4 my-5 text-center">Detalles del prospecto</h1>
    <div class="nav justify-content-center">
        <div class="card m-2 row w-75">
            <div class="card-body" style="line-height:1em;">
                <p class="card-text"><b>Nombre:</b>  <%= prospecto.nombre %> <%= prospecto.primerApellido %> <%= prospecto.segundoApellido %></p>
                <p class="card-text"><b>Calle:</b> <%= prospecto.calle %></p>
                <p class="card-text"><b>Número:</b> <%= prospecto.numbero %></p>
                <p class="card-text"><b>Colonia:</b> <%= prospecto.colonia %></p>
                <p class="card-text"><b>Código postal:</b> <%= prospecto.codigoPostal %></p>
                <p class="card-text"><b>Telefono:</b> <%= prospecto.telefono %></p>
                <p class="card-text"><b>RFC:</b> <%= prospecto.rfc %></p>
                <p class="card-text"><b>Estado:</b> <%= prospecto.estado %> </p>
                <% if (prospecto.estado==="Rechazado"){ %>
                    <p><b>Observaciones:</b> <%= prospecto.observaciones %></p>
                <% } %>
            </div>
        </div>
    </div>
    <div class="nav justify-content-center">
        <div class="m-2 row w-75">
        <% if (prospecto.estado==="Enviado"){ %>
            <form method="post">
                <label for="observaciones"> <b>Observaciones</b></label><br>
                <div class="nav justify-content-center">
                    <textarea name="observaciones" cols="108" rows="5"></textarea> <br> <br>
                    <% if (!valido) { %>
                        <label style="color: red;">No se puede rechazar un prospecto sin una observación</label><br><br>
                    <% } %>
                    <input class="btn btn-dark my-4 mx-2" type="submit" value="Aceptar" formaction="/prospectos/<%= prospecto.rfc %>/aceptar?_method=PATCH"> 
                    <input class="btn btn-dark my-4 mx-2" type="submit" value="Rechazar" formaction="/prospectos/<%= prospecto.rfc %>/rechazar?_method=PATCH">
                </div>
            </form>
        <% } %>
        </div>
    </div>
