 <% layout("/layouts/boilerplate") %>
<div >
    <H1 class="display-4 my-5 text-center">Clientes prospectos</H1>
    <% if (prospectos.length===0){%> 
        <div class="alert alert-danger" role="alert">
            En este momento no se tiene registrados clientes prospectos
        </div>
    <% } else { %>
        <div class="nav justify-content-center">
            <% for (let prospecto of prospectos){ %>
                <div class="card m-2 row w-25">
                    <div class="card-body">
                    <p class="card-text" style="line-height:0em;"><%= prospecto.nombre %> <%= prospecto.primerApellido %> <%= prospecto.segundoApellido %></p>
                    <p class="card-text" style="line-height:0em;"> Estado: <%= prospecto.estado %></p>
                    </p>
                    <a href="/prospectos/<%= prospecto.rfc %>">Detalles</a>                    
                    </div>
                </div>
            <% } %>
        </div>
    <% } %>
    <div class="nav justify-content-center my-4">
        <a href="/prospectos/new" class="btn btn-dark my-4">Agregar cliente prospecto</a>
    </div>
</div>