<% layout("/layouts/boilerplate") %>
<div> 
    <h1 class="display-4 my-5 text-center">Creación de cliente prospecto</h1>
    <div class="w-50 offset-3">
        <form action="/prospectos" method="POST" >
            <%if (data){ %>
                <label  class="form-label" for="nombre">Nombre del prospecto</label>
                <input class="form-control" type="text" name="nombre" placeholder="nombre" value=<%= data.nombre %>><br>
                <label class="form-label" for="primerApellido">Primer apellido</label>
                <input class="form-control" type="text" name="primerApellido" placeholder="primer apellido" value=<%= data.primerApellido %>><br>
                <label class="form-label" for="segundoApellido">Segundo apellido</label>
                <input class="form-control" type="text" name="segundoApellido" placeholder="segundo apellido" value=<%= data.segundoApellido %>><br>
                <label class="form-label" for="calle">Calle</label>
                <input class="form-control" type="text" name="calle" placeholder="calle" value=<%= data.calle %>><br>
                <label class="form-label" for="numero">Número</label>
                <input class="form-control" type="number" name="numero" placeholder="numero" value=<%= data.numero %>><br>
                <label class="form-label" for="colonia">Colonia</label>
                <input class="form-control" type="text" name="colonia" placeholder="colonia" value=<%= data.colonia %>><br>
                <label class="form-label" for="codigoPostal">Código postal</label>
                <input class="form-control" type="number" name="codigoPostal" placeholder="codigo postal" value=<%= data.codigoPostal %>><br>
                <label class="form-label" for="telefono">Telefono</label>
                <input class="form-control" type="number" name="telefono" placeholder="telefono" value=<%= data.telefono %>> <br>
                <label class="form-label" for="rfc">RFC</label>
                <input class="form-control" type="text" name="rfc" placeholder="rfc" value=<%= data.rfc %>><br><br>
                <div class="nav justify-content-center ">
                    <label class="form-label text-danger" for=""><%=valido%></label><br>
                </div>
                <div class="nav justify-content-center ">
                    <button class="btn btn-dark mt-3 mb-5 mx-2">Aceptar</button>
                    <a class="btn btn-dark mt-3 mb-5 mx-2" href="/prospectos" onclick="return confirm('Si regresa se perderá la captura, ¿seguro que desea regresar?')">Cancelar</a>
                </div>
            <% } else {%>
                <label class="form-label" for="nombre">Nombre del prospecto</label>
                <input class="form-control" type="text" name="nombre" placeholder="nombre"><br>
                <label class="form-label" for="primerApellido">Primer apellido</label>
                <input class="form-control" type="text" name="primerApellido" placeholder="primer apellido"><br>
                <label class="form-label" for="segundoApellido">Segundo apellido</label>
                <input class="form-control" type="text" name="segundoApellido" placeholder="segundo apellido"><br>
                <label class="form-label" for="calle">Calle</label>
                <input class="form-control" type="text" name="calle" placeholder="calle"><br>
                <label class="form-label" for="numero">Número</label>
                <input class="form-control" type="number" name="numero" placeholder="numero"><br>
                <label class="form-label" for="colonia">Colonia</label>
                <input class="form-control" type="text" name="colonia" placeholder="colonia"><br>
                <label class="form-label" for="codigoPostal">Código postal</label>
                <input class="form-control" type="number" name="codigoPostal" placeholder="codigo postal"><br>
                <label class="form-label" for="telefono">Telefono</label>
                <input class="form-control" ype="number" name="telefono" placeholder="telefono"> <br>
                <label class="form-label" for="rfc">RFC</label>
                <input class="form-control" type="text" name="rfc" placeholder="rfc"><br><br>
                <div class="nav justify-content-center ">
                    <button class="btn btn-dark mt-3 mb-5 mx-2">Aceptar</button>
                    <a class="btn btn-dark mt-3 mb-5 mx-2" href="/prospectos" onclick="return confirm('Si regresa se perderá la captura, ¿seguro que desea regresar?')">Cancelar</a>
                </div>
            <% } %>
            
        </form>
    </div>
</div>